@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.pages-margin{
    margin-left: 20%;
    margin-right: 20%;
}
.pages-title{
    margin: 0;
    font-family: 'Source Serif 4';
    font-weight: 700;
    font-size: 3rem;
}
.pages-subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.75rem;
}
.pages-dash-number{
    margin: 0;
    font-family: 'Source Serif 4';
    font-weight: 600;
    font-style: italic;
    font-size: 3rem;
}
.pages-header{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5rem;
}
.pages-paragraph{
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.25rem;
}
