@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('../General-Styles.css');

/*FILTER*/
.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar contenido */
    align-items: center; /* Alinear el contenido verticalmente */
    background-color: var(--neutral1);
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 3%;

}
.filter-dropdown {
    padding: 0 1.5rem; /* Espaciado entre selects */
    text-align: center;
}
select {
    border: none;
    border-radius: 0.8rem;
    background-color: var(--white);
    color: var(--neutral2);
    padding: 0.2rem 0.5rem;
}
select option {
    background-color: var(--neutral1);
    color: var(--neutral4);
}

/*TABLE*/
table{
    border-radius: 1rem 1rem 0 0; /* Solo redondea las esquinas superiores */
    background-color: var(--neutral4);
    border-top: none;
    border-left:var(--accent);
    text-align: center;
    margin: 0 auto; /* Centra la tabla */
    width: 100%;
    padding: 0; /* Asegúrate de que no haya rellenos */
    
    thead{
        border-radius: 1rem 1rem 0 0;
        background-color: var(--neutral3);
        color: var(--neutral1);
        padding: 0% 10% 0% 10%;
        tr{
            padding: 0% 10% 0% 10%;
            th{
                width: 20rem;
                padding: 1%;
                margin: 10%;
                border: none;
                outline: none;
            }
            
        }
          
    }
    tbody{
        background-color: var(--white);
        color: #000000;
        tr{
            &:hover{
                background-color: var(--neutral1);
            }
            &:active{
                background-color: var(--neutral2);
            }
        }
    }
}
.table-buttons{
    display: inline-flex; /* Habilita el modelo de flexbox */
    gap: 1rem;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    background-color: var(--white);
    margin: 5%;
    border: none;
}
.edit-button{
    color: var(--principal);
    &:hover{
        background-color: var(--principal);
        color: var(--neutral1);
    }
    &:active{
        background-color: var(--neutral3);
        color: var(--neutral1);
    }
}
.delete-button{
    color: var(--semantico_rojo);
    &:hover{
        background-color: var(--semantico_rojo);
        color: var(--neutral1);
    }
    &:active{
        background-color: var(--semantico_rojo);
        color: var(--neutral1);
    }
}
.table-pages{
    text-align: center;
    align-content: center;
}

/*MEDIA QUERIES*/
  /* Tablets en horizontal y laptops pequeños */
  @media (min-width: 1024px) and (max-width: 1279px) {
    /* Estilos para pantallas medianas a grandes */
    select{
        width: 5rem;
    }
    .table-buttons{
        width: 2.5rem;
        height: 2.5rem;
        svg{
            width: 20px;
            height: 20px;
        }
    }
  }
  
  /* Laptops grandes y pantallas de escritorio */
  @media (min-width: 1280px) {
    /* Estilos para pantallas grandes */
    select{
        width: 10rem;
    }
    .table-buttons{
        width: 2.5rem;
        height: 2.5rem;
        svg{
            width: 30px;
            height: 30px;
        }
    }
  }
  
  /* Laptops grandes y pantallas de escritorio */
  @media (min-width: 1920px) {
    /* Estilos para pantallas grandes */
    select{
        width: 15rem;
    }
    .table-buttons{
        width: 3rem;
        height: 3rem;
        svg{
            width: 40px;
            height: 40px;
        }
    }
  }
  