
@import url('../General-Styles.css');

.cards-container {
    margin: 2% 0%;
    padding: 2%;
    background-color: var(--neutral1);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;  /*Espaciado uniforme entre las tarjetas */
    text-align: center;
    width: 100%;
}

.cards {
    margin: 1%;
    background-color: var(--white);
    border-radius: 5%;
    color: #0B1041;
    max-width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos estén en columna */
    align-items: center;
    justify-content: center;
    padding: 0; /* Asegura que no haya padding extra */
    text-align: center;
}


.dashnumber-font {
    margin-bottom: 0;
    padding:0;
}

.paragraph-font {
    margin-top: 0;
    padding:0;
}
